@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Slab:600');

body {
    margin: 0 auto;
    width: 40em;
    margin-bottom: 3em;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0;
}

p {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-bottom: 3em;
}

button {
    background: #bb4b4b;
    color:#fff;
    border: none;
    margin-bottom: 1em;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3em;
    padding: 0.3em 0.7em;
}

button:hover {
    opacity: 0.6;
}

#reset {
    text-align: center;
}

#container {
    display: grid;
    width: 100%;
    height: 40em;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--rowNum), 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}