@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Slab:600');

body {
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 3em;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0;
}

p {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-bottom: 3em;
}

button {
    background: #bb4b4b;
    color:#fff;
    border: none;
    margin-bottom: 1em;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3em;
    padding: 0.3em 0.7em;
}

button:hover {
    opacity: 0.6;
}

#reset {
    text-align: center;
}

#container {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
}

#container > div {
    width: 30px;
    height: 30px;
    margin: 3px;
}